<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    h1{
      color:darkblue;
    }
    p{
      color:lightgreen;
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <h1>Welcome to my page</h1>

  <ul>
    <li>Apple</li>
    <li>Mango</li>
    <li>Grapes</li>
    <li>Banana</li>
    <li>Pineapple</li>
    <li>Orange</li>
  </ul>
  <p>The Election Commission (EC) on Tuesday issued a showcause notice to Aam Aadmi Party (AAP) national convenor and Delhi Chief Minister Arvind Kejriwal over two posts on ‘X’ from the party handle, saying these were “derogatory”, “disparaging” and built a “slanderous narrative” against Prime Minister Narendra Modi.

    Acting on a complaint filed by the BJP on November 10, the EC said it was “prima facie of the view that the tweets… violate the provisions of the Model Code of Conduct read with relevant election and penal laws.”
    
    It asked Kejriwal to “explain the statements/ allegations/ averments” made in the social media posts by 7 pm on Thursday.</p>
</body>
</html>