body{
    background-color: beige;
    width: 100%;
}
.header{
   height: 40px;
} 
.content{
    height: 500px;
}
.main-content{
    background-color: darkgrey;
    min-height: 500px;
    border:1px solid black;
}
.footer{
    height: 40px;
}
